<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong!</title>
</head>
<body>
    <div class='container'>
        <h1>Play Ping Pong!</h1>
        <p>Enter a number!</p>
        <form action='/results'>
            <div class='form-group'>
              <label for='input_number'>Number:</label>
              <input id='input_number' name='input_number' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Play!</button>
        </form>
    </div>
</body>
</html>
