<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>LeetSpeak!</title>
</head>
<body>
    <div class='container'>
        <h1>Play LeetSpeak!</h1>
        <p>Enter a phrase!</p>
        <form action='/results'>
            <div class='form-group'>
              <label for='input_phrase'>Phrase:</label>
              <input id='input_phrase' name='input_phrase' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Play!</button>
        </form>
    </div>
</body>
</html>
