<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>LeetSpeak!</title>
    </head>
    <body>
        <div class="container">
            <h1>Here are your results:</h1>
            <div>
                <h4>{{ results }}</h4>
            </div>
        </div>
    </body>
</html>
